{% extends "basechart.html" %}
{% block body %}
<div class = a>
{{title2}}
</div>
<div class = b>
{{range}}
</div>
<div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="card card-style mb-2">
            <div class="card-body">
                <div class="chart-container" style="position: relative;">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-6 col-sm-5 col-md-5">
        <div class="card card-style mb-2">
            <div class="card-body">
                <div class="chart-container" style="position: relative;">
                    <canvas id="myChart2"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="card card-style mb-2">
            <div class="card-body">
                <div class="chart-container" style="position: relative;">
                    <canvas id="myChart3"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>


{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
  <script>
    const ctx = document.getElementById('myChart');
    const ctx2 = document.getElementById('myChart2');
    const ctx3 = document.getElementById('myChart3');
    let label2 = JSON.parse({{ labels | tojson}});
    let data2 = JSON.parse({{ datas | tojson}});
    let label3 = JSON.parse({{ date_l | tojson}});
    let data3 = JSON.parse({{ date_d | tojson}});
    let title_chart = JSON.parse({{ title1 | tojson}})
    let chart1 = new Chart(ctx, {
      type: 'pie',
      data: {
        labels: label2,
        datasets: [{
          label: '# recorded',
          data: data2,
          borderWidth: 1,
          backgroundColor: ["#0074D9", "#FF4136", "#2ECC40", "#FF851B", "#7FDBFF", "#B10DC9", "#FFDC00", "#001f3f", "#39CCCC", "#01FF70", "#85144b", "#F012BE", "#3D9970", "#111111", "#AAAAAA"]
        }]
      },
    options: {
        plugins: {
            title: {
                display: true,
                text: title_chart,
                fontSize: 20,
            }},
            scales: {
            y: {
                beginAtZero: true
            }
            }
        
    }
});
let chart2 = new Chart(ctx2, {
      type: 'bar',
      data: {
        labels: label2,
        datasets: [{
          label: '# recorded',
          data: data2,
          borderWidth: 1,
          backgroundColor: ["#0074D9", "#FF4136", "#2ECC40", "#FF851B", "#7FDBFF", "#B10DC9", "#FFDC00", "#001f3f", "#39CCCC", "#01FF70", "#85144b", "#F012BE", "#3D9970", "#111111", "#AAAAAA"]
        }]
      },
    options: {
        plugins: {
            title: {
                display: true,
                text: title_chart,
                fontSize: 20,
            }},
            scales: {
            y: {
                beginAtZero: true
            }
            }
        
    }
});
let chart3 = new Chart(ctx3, {
      type: 'line',
      data: {
        labels: label3,
        datasets: [{
          label: '# recorded',
          data: data3,
          borderWidth: 3,
          backgroundColor: ["#0B7ADB"],
          borderColor: ["#3FD1CA"]
        }]
      },
    options: {
        plugins: {
            title: {
                display: true,
                text: 'Baltimore: Number of Crimes over time',
                fontSize: 20,
            }},
            scales: {
            y: {
                beginAtZero: true
            }
            }
        
    }
});
</script>
{% endblock %}
{% endblock %}
