<!DOCTYPE html>
<html>
<head>
    <style>
        select {
            margin-bottom: 10px;
            margin-top: 10px;
            outline: 0;
            background: #67b88f;
            color: #000000;
            border: 1px solid rgb(45, 139, 45);
            padding: 4px;
            border-radius: 9px;
          }
        </style>
</head>
<body>
<h1>My First Heading</h1>
<p>This is district: {{data1}}</p>
<p>This is sortby: {{data2}}</p>
<p>This is labels: {{data3}}</p>
<p>This is datas: {{data4}}</p>
{% for leng in leng %}
<p>leng: {{leng}}</p>
{% endfor %}
<form method="post">
    <label for="lang">Language</label>
    <br>
    <select width=250 style="width: 250px" size="4" name="languages" id="lang" multiple>
      <option value="javascript">JavaScript</option>
      <option value="php">PHP</option>
      <option value="java">Java</option>
      <option value="golang">Golang</option>
      <option value="python">Python</option>
      <option value="c#">C#</option>
      <option value="C++">C++</option>
      <option value="erlang">Erlang</option>
    </select>
    <br>
    <input type="submit" value="Submit" />
</form>
</body>
</html>